# Ignore everything
*

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore the staticSite directory
!staticSite/

# Do not ignore everything inside the staticSite directory
!staticSite/**
